.gallery {
    margin: 8% auto;
    display: flex;
    justify-content: space-between;

    &__image {
        margin-right: 3%;
        transition: all 0.3s ease-in;

        &:hover {
            transform: scale(1.5);
        }

        &--last {
            transition: all 0.3s ease-in;

            &:hover {
                transform: scale(1.5);
            }
        }
    }
}

.slideshow {
    display: none;
    position: relative;
    overflow: hidden;
    margin: 0;

    &__image {
        position: relative;
        left: 0;
        top: 0;
        width: 150%;
        animation: slideshow 15s linear infinite;
        height: 100%;

        &__asset {
            height: 100%;
            width: 100%;
        }
    }
}

@keyframes slideshow {
  0%    { left: 50; }
  50%  { left: -50%; }
  100% { left: 0; }
}

@media (max-width: 800px) {
    .slideshow {
        display: block;
    }

    .gallery {
        display: none;
    }
}