/* GLOBAL STYLING BEGINS */

// VARIABLES
$main-color: #f6a823;
$background-color: #f0efed;
$button-color: #05afc1;
$font-color: #2c2c2c;
$blog-accent: #285e64;
$home-accent: #a82706;

// MIX-INS

@mixin font-size($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: $font-color;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.nav {
    background: rgba(246, 168, 35, 0.5);
    @include font-size(2rem, 2.9rem);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    
    &__list {
        margin: 0 auto;
        list-style: none;
        display: flex;
        padding: 0;
    }

    &__item {
        width: 20%;
        margin-right: 5rem;
        justify-content: center;

        &__link:hover {
            color: white;
            transition: all 0.3s ease;
        }

         &--last {
        margin: 0;
        }
    }

    &__item--no-read {
        @include font-size(3.2rem, inherit);
        font-family: "Lora", serif;
        // aria-hidden: true;
    }  
}

.title__text {
    @include font-size(15rem, 9.2rem);
}

.section-content {
    padding: 10% 0;
    
    &__title {
        @include font-size(3.2rem, auto);
    }

    &__copy {
        @include font-size(2rem, 3.2rem);
        font-weight: normal;
        text-transform: none;
        
        &--italic {
            font-style: italic;
        }
    }
}


.link {
    text-decoration: none;
    color: $font-color;

    &--secondary {
        color: $blog-accent;
        font-weight: bold;

        &--hover:hover {
            color: $main-color;
            transition: all 0.3s ease-in;
        }
    }

    &--social {
        
        &--icon {
            color: $main-color;
        }

        &:hover i {
            color: $button-color;
            transition: all 0.3s ease-in;
        }
    }
}

.button {
    @include font-size(2rem, 3.2rem);
    background: $button-color;
    padding: 1rem;

    &:hover {
        background: $main-color;
        color: white;
        transition: all 0.3s ease-in;
    }

    &__comment {
        text-transform: uppercase;
        font-weight: bold;
    }
}

.border-box {
    background: white;
    padding: 3rem;
    margin: 2rem;

    &--orange-bottom {
        border-bottom: 1rem solid $main-color;
    }

    &--gray {
        background: $background-color;
    }
}










