/* GLOBAL STYLING BEGINS */

// VARIABLES
$main-color: #f6a823;
$background-color: #f0efed;
$button-color: #05afc1;
$font-color: #2c2c2c;
$blog-accent: #285e64;
$home-accent: #a82706;

// MIX-INS

@mixin font-size($font-size, $line-height) {
    font-size: $font-size;
    line-height: $line-height;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: $font-color;
}

a:focus {
    outline: none;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

img {
    display: block;
}

.nav {
    background: rgba(246, 168, 35, 0.5);
    @include font-size(2rem, 2.9rem);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0;
    position: fixed;
    width: 100%;
    z-index: 2;
    
    &__list {
        margin: 0 auto;
        list-style: none;
        display: flex;
        padding: 0;
    }

    &__item {
        width: 20%;
        margin-right: 5rem;
        justify-content: center;

        &__link {

            &:hover {
                color: white;
                transition: all 0.3s ease;
            }
        }

         &--last {
        margin: 0;
        }
    }

    &__item--no-read {
        @include font-size(3.2rem, inherit);
        font-family: "Lora", serif;
        // aria-hidden: true;
    }  
}

.hamburger {
    display: none;
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background: rgb(246, 168, 35);
    transition: 0.5s;
    z-index: 1;

    &__nav {
        width: 100%;
        position: relative;
        top: 15%;
        width: 100%;
        margin: 15% 0 0 0;

        &__item {
            width: 100%;
            display: block;
            font-size: 150%;
            padding: 10% 15%;
            text-align: center;

            &--title {
                color: black;
                text-shadow: 2px 2px white; 
                border-bottom: 2px solid black;
                padding-bottom: 1rem;
            }
        }
    }
}

.open {
    display: none;
    position: absolute;
    top: 2rem;
    right: 5%;
    cursor: pointer;
    transform: scale(3);
}

.close {
    position: absolute;
    top: 2rem;
    right: 17%;
    width: 2.5%;
    transform: scale(3);
}

.title__text {
    @include font-size(15rem, 9.2rem);
}

.section-content {
    padding: 10% 0;
    
    &__title {
        @include font-size(3.2rem, auto);
    }

    &__copy {
        @include font-size(2rem, 3.2rem);
        font-weight: normal;
        text-transform: none;
        
        &--italic {
            font-style: italic;
        }
    }
}


.link {
    text-decoration: none;
    color: $font-color;

    &--secondary {
        color: $blog-accent;
        font-weight: bold;

        &--hover:hover {
            color: $main-color;
            transition: all 0.3s ease-in;
        }
    }

    &--social {
        
        &--icon {
            color: $main-color;
        }

        &:hover i {
            color: $button-color;
            transition: all 0.3s ease-in;
        }
    }
}

.button {
    @include font-size(2rem, 3.2rem);
    background: $button-color;
    padding: 1rem;

    &:hover {
        background: $main-color;
        color: white;
        transition: all 0.3s ease-in;
    }

    &__comment {
        text-transform: uppercase;
        font-weight: bold;
    }
}

.border-box {
    background: white;
    padding: 3rem;
    margin: 2rem;

    &--orange-bottom {
        border-bottom: 1rem solid $main-color;
    }

    &--gray {
        background: $background-color;
    }
}



@media (max-width: 675px) {
    .section-content {
        text-align: center;
    }

    .nav {
        height: 0vh;
        padding: 0;
    }

    .nav__list {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .open {
        display: block;
    }

    .close {
        right: 14%;
    }
}





