.who-is {
    background: $background-color;
    margin: 0;

    &__title {
        margin: 0;
        @include font-size(4.2rem, auto);
    }

    &__copy {
        margin-right: 15%;
    }
}

@media (max-width: 650px) {
    
    .who-is__copy {
        margin-right: 0;
    }
}
